<div class="container m-2">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Word</th>
                <th scope="col">Results</th>
                <th scope="col">Date</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let h of historyElements; let x = index">
                <tr>
                    <th scope="col">{{x}}</th>
                    <td>{{h.type}}</td>
                    <td>{{h.word}}</td>
                    <td>{{h.results}}</td> <!--TODO-->
                    <td >{{formatDate(h.date)}}</td>
                    <td>
                        <button (click)="removeHistoryElement(h)" class="btn"><img src="../../../assets/trash.svg" alt=""/></button>
                    </td>
                </tr>
            </ng-container>
          </tbody>
    </table>
    <button (click)="clearHistory()" class="btn btn-primary">Delete all</button>
</div>